
<div class="jumbotron">
	<h1>Make things Happen</h1>
	<p class="lead">There truly is no time like the present</p>
	<p><a href="signup" class="btn btn-cloud">Join Us</a></p>
</div>
<div id="stopPoint">
	<div class="col-sm-8">
		<h3>Something goes here</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem excepturi, inventore pariatur aliquid, neque quo.
		</p><p>enim dolor commodi doloremque aspernatur iusto ut tempore tenetur. Et quisquam, enim ullam consequatur? Nemo.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos expedita dolor dicta, unde optio sint nam ad. Voluptate exercitationem modi labore voluptas commodi sunt, ipsa tempore aut officia quibusdam perferendis.</p>
	</div>
	<div class="col-sm-4 sidePic" >
		<img id="sidePic" src="http://placehold.it/200x200" alt="">
	</div>
</div>
<div id="heroes" class="row">
	<div class="col-sm-4 hero-cards">
		<img src="http://placehold.it/150x150" alt="http://placehold.it/150x150" class="img-circle">
		<h2>Heading1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum pariatur dolor reiciendis expedita, corporis, alias.</p>
		<p><a href="#" class="btn">View Details</a></p>
	</div>
	<div class="col-sm-4 hero-cards">
		<img src="http://placehold.it/150x150" alt="http://placehold.it/150x150" class="img-circle">
		<h2>Heading2</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum pariatur dolor reiciendis expedita, corporis, alias.</p>
		<p><a href="#" class="btn">View Details</a></p>
	</div>
	<div class="col-sm-4 hero-cards">
		<img src="http://placehold.it/150x150" alt="http://placehold.it/150x150" class="img-circle">
		<h2>Heading3</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum pariatur dolor reiciendis expedita, corporis, alias.</p>
		<p><a href="#" class="btn">View Details</a></p>
	</div>
</div>
<div id="describe" class="row">
	<h3>We Do Things Differently</h3>
	<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto expedita, laborum. Repellendus, dolorum, tempora! Ullam quae, nesciunt ab tempore quas voluptates, placeat quam excepturi consequatur repellat ipsum dignissimos repudiandae perspiciatis."</p>
	<h5><span><i>-Someone Important</i></span></h5>
</div>