<div class="container">
	<div class="jumbotron center-block" [hidden]="submitted">
		<h1>Login</h1>
		<div *ngIf="errorMsg">
			<p class="error-flash">{{errorMsg}}</p>
		</div>
		<form [ngFormModel]="loginForm" (submit)="login()">
			<div class="form-group">
				<label for="email">Email</label>
				<input id="email" name="email" type="email" #email ngControl="email" required class="form-control" placeholder="Your Email" autofocus autocomplete="email">
				<control-messages control="email" type="Email"></control-messages>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input id="password" type="password" ngControl="password" required class="form-control" placeholder="Your Password" autocomplete>
				<control-messages control="password" type="Password"></control-messages>
			</div>
			<button type="submit" [disabled]="!loginForm.valid"class="btn btn-primary mobile-btn">Login</button>
		</form>
		<a [routerLink]="['Signup']">Click here to signup</a>
		<router-outlet></router-outlet>
	</div>
	<div [hidden]="!submitted">
		<h2>You are being logged in...</h2>
	    <br>
	    <button class="btn btn-primary mobile-btn" (click)="submitted=false">Edit</button>
	</div>
</div>