<div class="container">
	<div class="jumbotron center-block" [hidden]="submitted">
		<span>{{errorMsg}}</span>
		<h1>Login</h1>
		<form [ngFormModel]="loginForm" (submit)="login()">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" #email ngControl="email" required class="form-control" placeholder="Your Email" autofocus autocomplete>
				<control-messages control="email" type="Email"></control-messages>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" ngControl="password" required class="form-control" placeholder="Your Password" autocomplete>
				<control-messages control="password" type="Password"></control-messages>
			</div>
			<button type="submit" [disabled]="!loginForm.valid"class="btn btn-default">Login</button>
		</form>
		<a href="/signup">Click here to signup</a>
	</div>
	<div [hidden]="!submitted">
		<h2>You are being logged in...</h2>
	    <br>
	    <button class="btn btn-default" (click)="submitted=false">Edit</button>
	</div>
</div>